@tailwind base;
@tailwind components;
@tailwind utilities;

/* base font-- */
@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

/* overider some css for selector */
.ant-select-selector {
  @apply !h-[43px];
  @apply !rounded-[4px];
  @apply !border-[#ABABAB] border-[1px];
}
.ant-select-selection-search {
  @apply !justify-center;
}

.ant-modal-content {
  @apply !max-w-full;
  @apply !p-0
}
/* add this code for hiding overflow-scroll scrollbar */

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
